body {
	background-color: #9CAF88;
	color: #000000;
		font-family: "Montserrat", sans-serif;

}

h1{
  font-family: "Playfair Display", serif;
  color: #006400;
  font-size: 45px;
  text-align: center;
}

h2 {
	font-family: "Montserrat", sans-serif;
	color: #000000;

}


.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}