body {
	background-color: #FFFBF1;
	color: #000000;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: 45px;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
	color: #8B0000;
	font-size: 50px;

}

h3 { 
  font-family: "Bebas Neue", sans-serif;
	 color: #ffffff;

}

p {
  font-family: "SN Pro", sans-serif;

}


.header {
	background-color: #8B0000 ;
}
.text {
	padding: 20px 0px 0px 0px;
}
.dormimage {
	background-color: #FFD700;
	padding: 20px 0px 0px 0px;
	margin: 20px 0px;
}

.trowimage {
	background-color: #FFD700;
	padding: 20px 0px 0px 0px;
	margin: 20px 0px;
}

.map {
	padding: 0px 0px 0px 300px;
}

.footerStyle {
	background-color: #8B0000;
	color: #ffffff;
	padding: 12px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}



a {
	color: #3991E9;
	text-decoration: underline;
}
a:hover {
	color: #09639c;
