body {
	background-color: #DFC4F5;
}
h1 {
	font-family: "Chicle", serif;
	text-align: center;
	color: #ffffff;
	padding: 20px 50px 0 30px;
}
h2 {
	font-family: "Funnel Sans", sans-serif;
	text-align: center;
	font-weight: 400;
	padding: 0 50px 10px 30px;
	color: #ffffff;
}

h3 {
	font-family: "Funnel Sans", sans-serif;
}
.headerBox {
	background-color: #241434;
	text-align: center;
	padding: 20px 50px 0 30px;
}

.header {

}
.leadPhoto {
padding: 2px;
margin: 0 70px 0 50px;
float:right;
}

.BasicText {
	margin: 50px 600px 100px 50px;
	font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.BasicText2 {
	margin: 50px 600px 100px 50px;
	font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.CatalogLink {
	font-family: "Funnel Sans", sans-serif;
	 font-size: 20px;
	 align: center;
	 margin-left: 550px;
}
.Performances
{
		font-family: "Funnel Sans", sans-serif;
	margin-left: 550px;
	 font-size: 20px;
}

.Video1
{
margin: 0 0 10px 50px;
font-family: "Funnel Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.Video2 {
	margin: 0 0 10px 50px;
	font-family: "Funnel Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.Video3{
	padding: 2px;
	margin: -743px 70px 0 50px;
	float:right;
	font-family: "Funnel Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.Video4{
	padding: 2px;
	margin: -370px 70px 0 90px;
	float:right;
	font-family: "Funnel Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.ListText {
	font-family: "Funnel Sans", sans-serif;
	 font-size: 30px;
	 align: left;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.funnel-sans- {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Photo2 {
padding: 2px;
margin: 90px 70px 50px 400px;
float:right;
}

.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;

}

